<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.human.mapper.BookMapper">

<!-- #{} 문자이면 ''을 자동을 붙여줌
		, ${} 문자이면 ''을 붙여주어야함 -->
  <select id="selectBook" resultType="com.human.dto.BookDTO">
    select * from book where no = #{no}
  </select>

  <select id="selectBookList" resultType="com.human.dto.BookDTO">
  	select * from book
  </select>

<!-- 쿼리 문장의 ;을 제거 하지 않으면 오류가 발생 한다!!!!!!!!!!!! -->
	<insert id="insertBook">
		insert into book (no, title, author) values (seq_book_no.nextval, #{title}, #{author})
	</insert>
	
	<delete id="deleteBook">
		delete book where no=#{no}
	</delete>
	
	<update id="updateBook">
		update book set title=#{title}, author=#{author} where no=#{no}
	</update>
</mapper>