<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace : mapper interface의 패키지명+인터페이스명 -->
<mapper namespace="com.spring.ex001.mapper.BoardMapper">
	
	<!-- id : 인터페이스의 메서드명 -->
	<select id="getList">
	<!-- 주로 XML 파일에서 스크립트 코드, SQL 쿼리, HTML 코드 등과 같이 구문 
				분석기가 해석할 필요가 없는 텍스트 데이터를 포함할 때 유용하게 사용-->
	
		select board_no, '추천' board_type, title, user_id, counts,
						        decode(to_char(created_time, 'yyyymmdd')
						                , to_char(sysdate, 'yyyymmdd')
						                , to_char(created_time, 'HH24:MI:SS')
						                , to_char(created_time, 'yyyy-mm-dd')
						                )  created_time
		from (select board.* from board order by counts desc)
		<![CDATA[  
		where rownum <= 3
		]]>
		
		union all 
	
		select board_no, board_type, title, user_id, counts, created_time
		from ( 
		        select rownum rn, t.* 
		        from ( 
		                select board_no, board_type, title, user_id, counts,
						        decode(to_char(created_time, 'yyyymmdd')
						                , to_char(sysdate, 'yyyymmdd')
						                , to_char(created_time, 'HH24:MI:SS')
						                , to_char(created_time, 'yyyy-mm-dd')
						                )  created_time 
		                from board 
		                where del_yn != 'Y'
		               <if test="searchWord != '' and searchField != ''"> 
				          and ${searchField} like '%'||#{searchWord}||'%'
				       </if>
		                
		                order by board_no desc
		        )t
		)
		where rn between ${pageNo * amount - (amount-1)} and ${pageNo * amount}
	</select>
	
	<select id="getTotalCnt">
		select 	count(*) 
		from 	board
		<if test="searchWord != '' and searchField != ''"> 
          where ${searchField} like '%'||#{searchWord}||'%'
        </if>

	</select>
</mapper>






