<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace : mapper interface의 패키지명+인터페이스명 -->
<mapper namespace="com.spring.ex001.mapper.BookMapper">
	<!-- mapper interface의 추상메서드명 -->
	<select id="getBookList">
		select *
		from ( 
		        select rownum rn, t.* 
		        from ( 
		                select no, title, author, decode(rent_yn,'Y','대여중','') rent_yn_str
		                from book
		                order by no desc
		        )t
		)
		where rn between ${pageNo * amount - (amount-1)} and ${pageNo * amount}
		
	</select>
	
	<insert id="regBook">
		<!-- 키값을 미리 조회 후 객체에 저장
			keyProperty : dto에 정의된 컬럼
			resultType : 반환타입 (dto의 타입과 일치시켜주세요)
			order : 언제실행할지 지정 (before : 본쿼리 실행전, after 실행후)
		 -->
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			select seq_book_no.nextval from dual
		</selectKey>
		
		insert into book (no, title, author, publisher, price)
	            values (#{no}, #{title}, #{author}, #{publisher}, #{price})
	
	</insert>
	
	
</mapper>






