<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper.xml을 새로 만들경우, config파일에 등록해야 사용이 가능하다!!!!!!! -->
<mapper namespace="com.human.mapper.BookMapper">
	<select id="getBookList" resultType="com.human.dto.BookDTO">
		select *
		from
		    (select rownum num, t.*
		        from
		            (
		            
		            select * 
		            from book
		            order by no desc
		            
		            ) t
		    )
		where num between #{pageNo} * #{amount} - (#{amount} -1) and #{pageNo} * #{amount}   
	</select>
	
	<select id="getTotalCnt" resultType="int">
	select count(*) from book
	</select>
</mapper>